.btn {
  @include inline-flex();
  @include flex-direction();
  @include justify-content(center);
  @include align-items(center);
  border: 1px solid #0a4c84;
  min-width: 68px;
  height: 26px;
  padding: 0 10px;
  padding-bottom: 2px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  background: #0a4c84;
  @include main-font2();
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #1762a0;
  }

  &:active {
    background: #004074;
  }

}