.logo {
  height: 40px;

  img{
    display: block;
    height: 40px;
  }

}

@media (min-width: $tablet-portrait) {
  .logo {
    position: absolute;
    top: 10px;
    left: 30px;
  }
}

@media (min-width: $desktop) {
  .logo {
    left: 0;
  }
}

