.nice-radio {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  user-select: none;

  input[ type = radio ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {

      &:before {
        opacity: 1;
      }
      &:after {
        border-color: #0a4c84;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    position: relative;
    padding-left: 25px;
    color: #000000;
    font-size: 13px;
    line-height: 15px;
    @include main-font2();
    cursor: pointer;

    &:after,
    &:before {
      position: absolute;
      border-radius: 50%;
      content: '';
    }

    &:after {
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      border: 2px solid #cccccc;
      transition: border 0.3s ease-in-out;
    }

    &:before {
      opacity: 0;
      top: 6px;
      left: 6px;
      background: #0a4c84;
      width: 6px;
      height: 6px;
      content: '';
      transition: opacity 0.3s ease-in-out;
    }

  }

}