.websters-select {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 400px;
  height: 40px;
  border: 1px solid #C99A22;

  &_opened {

    .websters-select__arrow {
      top: calc( 50% - 7px );
      transform: rotate(180deg);
    }

  }

  &__arrow{
    top: calc( 50% - 2px );
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(201, 154, 34, 0);
    border-top-color: #C99A22;
    border-width: 5px 5px 5px 5px;

    -webkit-transition: -webkit-transform .3s ease, top .3s ease;
    transition: transform .3s ease, top .3s ease;
  }

  &__item {
    overflow: hidden;
    @include absoluteCenterY();
    right: 20px;
    left: 5px;
    padding: 1px 5px 0;
    @include helvetica-light;
    font-size: 18px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: 1px solid $websters-select-border;
    background: $websters-select-popup-back;
    @include helvetica-light;
    font-size: 18px;

    ul {
      z-index: 1;
    }

    li {
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        color: $websters-select-popup-item-active-color;
        background-color: #ccc;
      }

      &.active {
        color: $websters-select-popup-item-active-color !important;
        background-color: #ccc!important;
        cursor: text!important;
      }

    }

  }

}
